body {
    background-color: white;
    padding: 20px;
}

.container {
    width: 40%;
    margin: 0 auto;
}

.container img {
    width: 100%;
    margin-top: 80px;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-top: -3px;
}

.left a {
    margin-right: 5px;
}